/*Retour smooth à la home page*/
html {
  scroll-behavior: smooth;
}

/* Supprime les marges par défaut du navigateur */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Force le calcul des tailles pour inclure les bordures */
* {
  box-sizing: border-box;
}

/* S'assure que React prend toute la place */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}